<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="shortcut icon" href="./icone.ico">
    <link rel="stylesheet" type="text/css" href="../homecss.css">
</head>

<style>


</style>


{{!-- <body class="body"> 
<div class="login-page" id="tela_cadastro" style="display: none;">
    <div class="form"> --}}
        <form class="register-form" action="/add-cadastro" method="post">
            <input id="cadastro_usuario" name="usuario" class="inputt" type="text" placeholder="Usuário">
            <input id="cadastro_senha" name="senha" class="inputt" type="password" placeholder="Senha" />
            <input id="cadastro_confirmacao_senha" name="confirma" class="inputt" type="password" placeholder="Confirmação da Senha" />
            <input id="cadastro_email" name="email" class="inputt" type="text" placeholder="Email" />
            <input class="btnin" type="submit" value="Cadastrar" onclick="cadastrar()">
            <p class="textobaixol">Ja é registrado? <a href="#" onclick="mudarlogin()">Faça login!</a></p>
        </form>

    {{!-- </div>

</div>  --}}
<footer>
    Copyright (C) WeeGrowffee - Todos os Direitos Reservados
</footer>
</body>
</html>

</script>
<script src="scripts.js"></script> 
